<template name="meetingsShow">
  <div class="meeting">
    <h2>{{title}}</h2>

    {{#if participating}}
      <p><button class="btn btn-warning" id="leave">Leave Meeting</button>

    <button id="reset" class="btn btn-warning">Reset Results</button></p>
      <label>Vote:</label>
      <div class="btn-group">
      {{#each fibonacci}}
        <button class="btn btn-default btn-vote">{{this}}</button>
      {{/each}}
      </div>
    {{else}}
      {{#if currentUser}}
        <button id="join" class="btn btn-default">Join</button>
      {{/if}}
    {{/if}}

    <div class="participations">
      {{#each participations}}
        {{> participation}}
      {{/each}}
    </div>
  </div>
</template>

<template name="participation">
  <div class="participation col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <p>{{name}}</p>
    <div class="flip-container">
      <div class="card flipper {{flipped}}">
        <div class="front">
          <strong>{{points}}</strong>
        </div>
        <div class="back">
          <img src="{{avatar}}" class="img-circle avatar">
        </div>
      </div>
    </div>
    <p>{{state}}</p>
  </div>
</template>
